<nav class="navbar glass-navbar">
  <div class="logo-container">
    <a routerLink="/" class="logo">HiddenGem</a>
  </div>
  
  <div class="nav-links">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link">Inicio</a>
    <a routerLink="/games" routerLinkActive="active" class="nav-link">Juegos</a>
    <a routerLink="/recommendations" routerLinkActive="active" class="nav-link">Recomendaciones</a>
    <a routerLink="/favorites" routerLinkActive="active" class="nav-link">Favoritos</a>
  </div>
  
  <div class="auth-links">
    <a routerLink="/auth" routerLinkActive="active" class="nav-link">Iniciar sesión</a>
    <a routerLink="/register" routerLinkActive="active" class="btn btn-primary">Registrarse</a>
  </div>
</nav>
