<nav class="navbar glass-navbar">
  <div class="navbar-left">
    <a routerLink="/" class="logo">
      <span class="material-icons">star</span> HiddenGem
    </a>
  </div>

  <div class="navbar-center">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link">Inicio</a>
    <a routerLink="/games" routerLinkActive="active" class="nav-link">Juegos</a>
    <a routerLink="/recommendations" routerLinkActive="active" class="nav-link" *ngIf="authService.isLoggedIn()">Recomendaciones</a>
    <a routerLink="/favorites" routerLinkActive="active" class="nav-link" *ngIf="authService.isLoggedIn()">Favoritos</a>
  </div>

  <div class="navbar-right">
    <!-- Botones para usuarios no autenticados -->
    <ng-container *ngIf="!authService.isLoggedIn()">
      <a routerLink="/auth" routerLinkActive="active" class="btn btn-secondary">Iniciar sesión</a>
      <a routerLink="/register" routerLinkActive="active" class="btn btn-primary">Registrarse</a>
    </ng-container>
    
    <!-- Botones para usuarios autenticados -->
    <ng-container *ngIf="authService.isLoggedIn()">
      <a routerLink="/profile" routerLinkActive="active" class="btn btn-secondary">Mi Perfil</a>
      <button (click)="logout()" class="btn btn-secondary">
        Cerrar sesión
      </button>
    </ng-container>
  </div>
</nav>
